<label>Name: </Label><br>
<h1><%= boat.name %></h1>
<label>Length: </Label><br>
<p><%= boat.length %></p>
<label>Classification: </Label><br>
<p><%= boat.classification %></p>
<label>Captain: </Label><br>
<h3><%= boat.captain.name %></h3><br />
