<div>
   <h3>Filter boats:</h3>
   <%= form_tag("/boats", method: "get") do %>
     <%= select_tag "boat", options_from_collection_for_select(@boats, "id", "name"), include_blank: true %>
     <%= submit_tag "Filter" %>
   <% end %>
 </div>

<% @boats.each do |boat| %>
  <div>
    <h2><%= boat.name %></h2>
  </div>
<% end %>
